@model IEnumerable<WasteManagement.Models.tbl_Bin>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}



<div class="card">
    <div class="card-header">
        <h4>Bin</h4>
    </div>
    <div class="card-body">
        <p>
            @Html.ActionLink("Create New", "Create", "", new { @class = "btn btn-success" })
        </p>
        <table class="table table-hover table-striped">
            <tr class="table-primary">
                <th>
                    @Html.DisplayNameFor(model => model.BinID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CurrentCapacity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Location)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.BinID)
                    </td>
                    <td>
                        @string.Format("{0:p2}", item.CurrentCapacity)
                    </td>
                    <td>
                        <i class="fs-5 bi-trash @item.Status"></i>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-sm btn-secondary" })
                    </td>
                </tr>
            }

        </table>

    </div>
</div>